body{
    font-family: 'Times New Roman', Times, serif;
}
table{
 width: 1000px;
}
td{
    width: 230px;

}
h1{
font-style: italic;
margin: 0px;
padding: 0px 40px;
}
h2{
text-align: right;
font-style: italic;
margin: 0px;
padding: 0px 40px;
}